.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s ease-in;
  margin: 0 auto;
  padding: 0 10px;
}

.modal_type_preview {
  padding: 16px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
}

.modal__image-container {
  position: relative;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
}

.modal__caption {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 4px 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #fff;
  position: absolute;
  background-color: #212121;
  border-radius: 8px;
  left: 0;
  top: calc(100% + 10px);
}

.modal__close-btn {
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../images/Group27.svg);
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  opacity: 40%;
  transition: opacity 0.3s ease-in-out;
}

.modal__close-btn:hover {
  opacity: 100%;
  cursor: pointer;
}

.modal__close-btn_type_preview {
  color: #fff;
  position: absolute;
  top: 0;
  right: -42px;
  background-image: url(../images/white_button.svg);
}

.modal__title {
  margin: 0 0 32px;
  max-width: 169px;
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  line-height: 1;
  font-weight: 500;
  color: #212121;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
  color: #212121b3;
  margin: 0 0 32px;
}

.modal__input {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 1;
  display: block;
  margin: 8px 0 0;
  width: 100%;
  padding: 12px;
  border: 1px solid #212121b3;
  border-radius: 8px;
  font-weight: 500;
  color: #212121;
  box-sizing: border-box;
}

.modal__input:hover {
  border-color: #212121;
  outline: none;
}

.modal__input::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  color: #2121214d;
}

.modal__save-btn {
  max-width: 156px;
  width: 100%;
  padding: 18px 32px;
  background-color: #212121;
  color: whitesmoke;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

@media screen and (max-width: 627px) {
  .modal__container {
    padding: 22px 12px 12px;
  }

  .modal__close-btn_type_preview {
    top: -40px;
    right: 0;
  }

  .modal__close-btn {
    top: 22px;
    right: 12px;
    transition: opacity 0.3s ease-in-out;
  }

  .modal__image {
    max-width: none;
  }

  .modal__title {
    max-width: 276px;
    width: 100%;
    font-size: 20px;
    margin-bottom: 24px;
  }

  .modal__label {
    margin-bottom: 24px;
    max-width: 276px;
    width: 100%;
    font-size: 16px;
    line-height: 1.1;
    color: #212121;
  }

  .modal__input {
    max-width: 276px;
    width: 100%;
    padding: 16px 12px;
    font-size: 16px;
  }

  .modal__save-btn {
    max-width: none;
    width: auto;
  }

  .modal__caption {
    font-size: 16px;
  }
}
